#edit-publish {
	float: right;
	font-size: 1.2em;
}

.form-item-url label .form-required{
	display: none;
}
#www_domain_label {
	float: left;
	padding-top: 14px;
}
.form-item-url input {
	margin-top: 6px;
	width: 145px;
	float:left;
	margin: 10px 3px 0px 3px;
}
#url_domain_label {
	display: inline;
	padding-top: 15px;
	float: left;
}
#edit-url-settings {
	display: inline;
	padding-top: 1px;
	width: 100%;
}
.form-item-url label {
	display:none;
}

